# Mail settings
mail_mail_header_source_arn="arn:aws:ses:us-east-1:999999999999:identity/domain.tld"
mail_header_from_arn="arn:aws:ses:us-east-1:999999999999:identity/domain.tld"
mail_header_return_arn="arn:aws:ses:us-east-1:999999999999:identity/domain.tld"
mail_from="Web Server <server@domain.tld>"
mail_to="System Administrator <admin@domain.tld>"
mail_return="Web Server <server@domain.tld>"

# MySQL settings
# Use your root account credentials if you want to back all your databeses.
# If you use an account other than root, you will only be able to backup databeses accessible to that particular user.
# mysql_output is the target directory for mysql dumps, it will hold archives for all dbs. Archive retention will be decided
# by the mysql_days variable; 7 means archives will be kept for a week before deletion. Please do change according to your needs.
# You can use $scriptpath and $HOME parameters while setting mysql_output. It's probably best if you use an absolute path.
# If you don't want a particular database to be dumped synchronized every day, you may exclude it with mysql_exclude variable.
mysql_user="root"
mysql_password="my-very-strong-password"
mysql_output="./dbs"
mysql_exclude="information_schema mysql performance_schema sys"
mysql_days=7

# Root directory of vhosts
root_vhosts="/path/to/vhosts/root/"

# s3 settings
# You might want to add --dryrun to s3_sync_params if you want a test run before sending your backups to S3.
# If you want to backup your dbs and vhosts to the same bucket, put its name to both s3_bucket_vhosts & s3_bucket_dbs.
# It's best if you exclude at least your S3 log directory with s3_sync_exclude, if you have enabled logging on your buckets
# and using --delete parameter at s3_sync_params. Otherwise your S3 logs will be deleted with every sync.
# Please note that AWS does not support full regex with includes and exludes, see support article below for details:
# https://docs.aws.amazon.com/cli/latest/reference/s3/index.html#use-of-exclude-and-include-filters
s3_sync_params="--no-follow-symlinks --exact-timestamps --delete"
s3_bucket_vhosts="my-vhosts-bucket"
s3_bucket_dbs="my-dbs-bucket"
s3_sync_exclude="logs-aws/*|logs"
